img {
    width: 600px;
    height: 600px;
}

:root {
    text-align: center;
    margin: 30px;
    background-image: url("../backdrop.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}